<% provide(:title, @user.username) %>
<h1>This is my Settings</h1>
<div class="row">
  <aside class="span4">
    <section>

      <p>
        <b>Email:</b>
        <%= @user.email %></br>
      </p>
      <p>
        <b>User Name:</b>
        <%= @user.username %></br>
      </p>
      <li><%= link_to "Edit ", edit_user_path(current_user) %></li>
    </section>
  </aside>


</div>

