<div id="shop_container1">
  <h4>Shop by category</h4>

  <div id="shop_table">
      <table>
          <% if @item_length > 0 %>
          <% @items.in_groups_of(@item_length,false).each do |item_groups| %>
              <tr>
                <% item_groups.each do |item| %>
                <td >
                    <%= link_to image_tag(item.image_name.url().to_s, width: 200,height:200 ),  shop_path(item.id), :method => :get %>
                    </br><%= item.name %>
                </td>
                <% end %>
              </tr>
          <% end %>
         <% end %>
        </table>
  </div>

</div>


<br />


