<!-- Configure Cloudinary jQuery plugin -->
<%= cloudinary_js_config %>
 <div id="xroom_main_container">

  <div id="xroom_scroll_left">   </div>
  <div id="xroom_header">   </div>
  <div id="xroom_store_menu_save_cancel_remove">   </div>
  <div id="xroom_profile">  </div>
  <div id="xroom_storepage">    </div>
  <div id="xroom_bookmarks" >    </div>
  <div id="xroom_bookmarks_browse_mode">    </div>
  <div id="xroom_footer">   </div>
  <div id="xroom_scroll_right">   </div>

  <div id="xroom">
    <div id="xroom_items_0" data-current_screen_position= '0'>    </div>
    <div id="xroom_items_1" data-current_screen_position= '1'>    </div>
    <div id="xroom_items_2" data-current_screen_position= '2'>    </div>
  </div>





</div>


