#xroom_header_active_sites{
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
}
#xroom_header_active_sites {
  background-image: url('http://res.cloudinary.com/hpdnx5ayv/image/upload/c_fit,h_21,w_23/v1379697970/browse-mode-active.png');
  width:auto;

}
#xroom_header_active_sites:hover{
  background-image: url('http://res.cloudinary.com/hpdnx5ayv/image/upload/c_fit,h_21,w_23/v1379697987/browse-mode-active-highlight.png');
}

#xroom_header_profile {

  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  background-image: url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1377125493/social.gif');
}

#xroom_header_profile:hover{

  width: 23px;
  height: 21px;
  background-image: url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1377125506/social-hover.gif');

}

#xroom_header_storepage{
  background-position: left;
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  background-image: url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1377125793/store-icon.gif');

}

#xroom_header_storepage:hover{
  width: 23px;
  height: 21px;
  background-image: url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1377125806/store-icon-hover.gif');

}

#xroom_header_myroom img{
  width: 23px;
  height: 23px;
}

#xroom_header_search {
  padding-top: 10px;
}