.profile_objects_view .profile_table_inner_div{
	overflow-y:auto;
	min-height:500px;
}

.profile_objects_view{
    background-color: transparent;
}

.profile_friends_dropdown_menu{
	top:10px;
}

#myModal{
	color:black;
}